<div class="base">
    <mat-toolbar class="main-nav-bar">
        <div class="main-nav-bar-brand">
            <mat-icon aria-hidden="false" aria-label="Website information" class="main-nav-bar-logo">info</mat-icon>
            usefuldev.com
        </div>
    </mat-toolbar>

    <nav class="secondary-nav-bar">
        <div class="secondary-nav-bar-items">
            <div class="dropdown">
                <div class="secondary-nav-bar-item">
                    <mat-icon aria-hidden="false" aria-label="Files">description</mat-icon>
                    <a href="#" class="item-link">Files</a>
                </div>
                <div class="dropdown-content">
                    <a href="file-generator" class="dropdown-content-item">Valid file generator</a>
                </div>
            </div>
            <div class="secondary-nav-bar-item">
                <mat-icon aria-hidden="false" aria-label="Website information">info</mat-icon>
                <a href="info" class="item-link">About</a>
            </div>
            <div class="secondary-nav-bar-item fill-orange">
                <mat-icon aria-hidden="false" aria-label="Contribute">favorite</mat-icon>
                <a href="contribute" class="item-link">Contribute</a>
            </div>
        </div>
    </nav>
</div>